html {
    scroll-behavior: smooth; 
  }

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Nanum Gothic', sans-serif;
    min-height: 100vh;
    margin: 0; padding: 0;
}

img {
    border-radius: 50%;
    width: 20%;
    height: auto;
  }
  

.header {
    border: 1px solid LightBlue;
    background-color: LightBlue;
}

.main {
}

.footer {
    border: 1px solid LightBlue;
    background-color: LightBlue;
}

.fot-item {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: GhostWhite;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: GhostWhite;
  }

.main-container {
    display: flex;
    flex-wrap: wrap;
  }

.profile-cantainer {
    display: flex;
    flex-wrap: wrap;
}
  
.section {
    width: 50%;
    padding: 20px;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

h2 {
    color: grey;
    font-family: 'Nanum Gothic', sans-serif;
}

h1 {
    color: grey;
    font-family: 'Nanum Gothic', sans-serif;
}

hr {
    height:2px;
    border-width:0;
    color:LightBlue;
    background-color:LightBlue;
    width:50%
}

.job-title {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    font-size: 135%;
}

.section-profile {
    padding-top: 10px;
    padding-left: 20px;
    position: absolute;
}

.image-section {
    padding-top: 10px;
    padding-left: 51%;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: dimgray; 
}

li {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700; 
    color: dimgray;
}

a {
    color: LightBlue;
    text-decoration: none;
    font-weight: 900;
}